.signinBtn {
  border: none;
  width: 350px;
  height: 60px;
  border-radius: 8px;
  background-color: #fcfe26;
  color: #0b4455;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
