.signinbg {
  background: url('/src/assets/img/signinbg.png') no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signinContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 20px 50px;
  /* padding-top: 20px; */
}

.signinLogo {
  width: 100px;
  margin: 10px 0;
}

.signinTxt {
  color: #534f47;
  font-family: 'Roboto Slab', serif;
  line-height: 1.5rem;
}

.signinForm {
  display: flex;
  flex-direction: column;
  position: relative;
}

.yellowLine {
  width: 200px;
  height: 1px;
  background-color: #0b4455;
  margin: 10px 0;
}

.signinLad {
  width: 100px;
  margin: 20px;
}

.validationInput {
  color: #ee2929;
  font-family: 'Roboto Slab', serif;
  line-height: 1.5rem;
}
